.about-page-header{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px solid black;
	
	width:100%;
	margin:auto;
	padding: 2rem;

	.logo {
		font-size:3rem;
		text-align: center;
		background-color:skyblue;
		width:40%;
		margin:auto;

		
	}
	p{
		font-size:1.6rem;
	}
	.signin{
		font-size:1.6rem;
		padding: 1rem;
		background-color:skyblue;
		width:15rem;
		margin:auto;
	}
}



.quote{
	font-size:2rem;
	text-align: center;
}

.meet{
	text-align: center;
}

a{
	text-decoration: none;
}
.aboutImg{
	max-width: 100%;
	max-height: 40vh;
}

#team{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.person{
	text-align: center;
	width: 60%;
	height: 25rem;
	border:1px solid black;
	border-radius:15px;
	background-color:silver;
	margin: 2rem 0;
}
.pic  {
	
	margin: 1rem 0 auto;
	border-radius:10px;
	width: auto;
	height: 100px;	
}
.name{
	margin: 1rem 0 auto;

}
.role{
	margin: .5rem 0 auto;
}
i {
	margin: 1rem 1rem auto;
	font-size:4rem;
}

.aboutFooter{
	text-align: center;
	background-color:skyblue;
	border: 1px solid black;
}

footerLinks{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
}
.bottomLink{
	font-size:2rem;
	margin: 2rem 5rem;
}

.copyRight{
	font-size:2rem;
	text-align: center;
	padding:2rem;
}
