.about-page-header{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid black;
	background-color:skyblue;
	height:8rem;
	
	@media @aboutTablet{
		flex-direction: row;
	}
	
	.aboutLogo {
		font-size:3rem;
		text-align: center;
		background-color:snow;
		width:40%;
		margin:0 1.5rem;
		padding: .75rem 0;
		@media @aboutTablet{
			width:25%;
			@padding: 1rem;
		}
	
	}
	p{
		font-size:1.6rem;
		@media @aboutTablet{
			font-size:2rem;
		}
		@media @aboutDesktop{

		}
	}
	.aboutSignin{
		font-size:1.6rem;
		padding: 1rem;
		background-color:snow;
		width:15rem;
		margin:auto;
	}
}

.aboutContainer{
	width:100%;
	
	section{
		margin:auto;

		.aboutImg{
		width: 100%;
		max-height: 40vh;
		margin:auto;
		@media @aboutDesktop{
			max-height: 60vh;
		}
		
	}
		.aboutQuote{
			font-size:2rem;
			text-align: center;
			font-weight: bold;
			margin: 1rem 0 auto;
			@media @aboutDesktop{
				font-size:3rem;
			}
		}
		.topNote{
			font-size:1.6rem;
			@media @aboutDesktop{
				font-size: 2rem;
			}
		}
		.aboutMeet{
			text-align: center;
			@media @aboutDesktop{
				font-size:3rem;
			}
		}	
	}
	
}





a{
	text-decoration: none;
	&:hover{
		background-color:slateblue;
	}
}


#aboutTeam{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media @aboutTablet{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
}
.aboutPerson{
	text-align: center;
	width: 60%;
	height: 25rem;
	border:1px solid black;
	border-radius:15px;
	background-color:silver;
	margin: 2rem 0;

	@media @aboutTablet{
		width:40%;

	}
	@media @aboutDesktop{
		width:27%;
	}
}
.aboutPic  {
	
	margin: 1rem 0 auto;
	border-radius:10px;
	width: auto;
	height: 100px;	
}
.aboutName{
	margin: 1rem 0 auto;

}
.aboutRole{
	margin: .5rem 0 auto;
}
i {
	margin: 1rem 1rem auto;
	font-size:4rem;
}

.aboutFooter{
	text-align: center;
	background-color:skyblue;
	border: 1px solid black;
	@media @aboutDesktop{
		display:flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.footerLinks{
		display:flex;
		flex-direction:row;
		justify-content: space-evenly;
		@media @aboutDesktop{
			display:inline-block;
			width:70%;
		}
		a {
			font-size:2rem;
			margin: 2rem 5rem;
		}
		.tooltip{
			position:relative;
			.tooltiptext{
				display:none;
				width:500%;
				color:red;
				background-color: snow;
				border:1px solid grey;
				font-size:2rem;
				font-weight: bold;
				position:absolute;
				z-index: 1;
				bottom: 100%;
				left: 50%;
				margin-left: -394px;
				@media @aboutMobile{
					margin-left: -370px;
				}
				@media @aboutDesktop{
					margin-left: -240px;
				}
			
			}
			&:hover .tooltiptext {
				display:block;
		  }
		}

	}
	.copyRight{
		font-size:2rem;
		text-align: center;
		padding:2rem;
		@media @aboutDesktop{
			width:15%;
		}
	}
}








