
.aboutContainer{
	width:100%;
	
	section{
		margin:auto;

		.aboutImg{
		width: 100%;
		max-height: 40vh;
		margin:auto;
		@media @aboutDesktop{
			max-height: 60vh;
		}
		
	}
		.aboutQuote{
			font-size:2rem;
			text-align: center;
			font-weight: bold;
			margin: 1rem 0 auto;
			@media @aboutDesktop{
				font-size:3rem;
			}
		}
		.topNote{
			font-size:1.6rem;
			@media @aboutDesktop{
				font-size: 2rem;
			}
		}
		.aboutMeet{
			text-align: center;
			@media @aboutDesktop{
				font-size:3rem;
			}
		}	
	}
	
}





a{
	text-decoration: none;
	&:hover{
		background-color:slateblue;
	}
}


#aboutTeam{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media @aboutTablet{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
}
.aboutPerson{
	text-align: center;
	width: 60%;
	height: 25rem;
	border:1px solid black;
	border-radius:15px;
	background-color:silver;
	margin: 2rem 0;

	@media @aboutTablet{
		width:40%;

	}
	@media @aboutDesktop{
		width:27%;
	}
}
.aboutPic  {
	
	margin: 1rem 0 auto;
	border-radius:10px;
	width: auto;
	height: 100px;	
}
.aboutName{
	margin: 1rem 0 auto;

}
.aboutRole{
	margin: .5rem 0 auto;
}
i {
	margin: 1rem 1rem auto;
	font-size:4rem;
}