.footer {
    margin: 0% 25%;
    background: lightgrey;
    
    p {
      text-align: center;
      color: black;
      font-size: 1.6rem;
      padding: 20px;
    }
  
    @media @tablet  {
      display: flex;
      flex-direction: row;
  }

    @media @desktop  {
        display: flex;
        flex-direction: row;
    }
}

.footer-links {
    margin: 0 10rem 0 0;
    a {
        font-size: 1.6rem;
        color: black;
        padding: 20px;
        text-decoration: none;
        //border: 1px solid red;
            
    }

}