.footer {
	text-align: center;
	width:100%;
	margin:auto;
	background-color:rgba(153, 191,242,.25);
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	
		@media @aboutDesktop{
		display:flex;
		justify-content: space-around;
		align-items: center;
	}
	.footerLinks{
		width:40%;
		margin: 0 auto;
		
		
		@media @aboutDesktop{
			display:inline-block;
			width:50%;
			margin: 1rem 1rem;
		}
		a {
			// border:1px solid red;
			margin: .5rem 1rem auto;
			text-decoration: none;
		} /*this closes a */
		.links{
			// border:1px solid red;
			// display:flex;
			// flex-direction:row;
			// justify-content: space-evenly;
			// margin: .5rem, 2rem auto;
			font-size:2rem;
			color:#242B40;
			padding:.5rem;
			@media @aboutDesktop{
			    display:inline-block;
			    width:20%;
			}
		} /*this closes the links*/
		.tooltip{
			position:relative;
			.tooltiptext{
				display:none;
				width:500%;
				color:red;
				background-color: snow;
				border:1px solid grey;
				font-size:2.5rem;
				font-weight: bold;
				position:absolute;
				z-index: 1;
				bottom: 100%;
				left: 50%;
				margin-left: -394px;
				@media @aboutMobile{
					margin-left: -370px;
				}
				@media @aboutDesktop{
					margin-left: -240px;
					height:6rem;
				}
			} /*this closes the tooltiptext*/
			&:hover .tooltiptext {
				display:block;
			} 	/*this closes the hover*/
		} /*this closes the tooltip*/  	
	} /*this closes the footerLinks*/
	.copyright{
		font-size:2rem;
		font-weight: bold;
		text-align: center;
		padding:.5rem;
		color:#242B40;
		margin: 0 auto;
		// border:1px solid red;
		width:50%;
		@media @aboutDesktop{
			width:15%;
		}
	} /*this closes the copyRight*/
} /*this closes .footer*/






	

		
	
 
	

  

