.navigation {

    width: 100%;
    height: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed silver;

    @media @tablet {
        display:flex;
        justify-content: center;
    }
    
    @media @desktop {
        display:flex;
        justify-content: center;
    }
   
    .logo-large {
       padding: .4rem;
    }

    .links {
        margin: 0 auto;
        a {
            font-size: 1.8rem;
            color: black;
            padding: 20px;
            text-decoration: none;
            //border: 1px solid red;
                
        }

    }
}