.header{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin: 0 auto;
	background-color:#99BFF2;
	height:8rem;

	.nav{

		@media @mobile {
			display:flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
		  }

		@media @tablet {
			display:flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
		  }

	}

	
	.logo {
		font-size:3rem;
		text-align: center;
		width:40%;
		margin:0 1.5rem;
		padding: .75rem 0;
		@media @aboutTablet{
			width:25%;
			@padding: 1rem;
		}

		.nav-logo {
			color: #242B40;
		}
	
	}
	p{
		font-size:1.6rem;
		@media @aboutTablet{
			font-size:2rem;
		}
		@media @aboutDesktop{

		}
	}
	.aboutSignin{
		font-size:1.6rem;
		padding: 1rem;
		background-color:snow;
		width:15rem;
		margin:auto;
	}
}